<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Ninja Gold</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

      {% load static %}
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
      <div class="container">
            <div class="gold-counter">
                  <h2>Your gold: {{request.session.gold}}</h2> 
            </div>
            <div class="places">
                  <form action="/process_money" method="post">
                        {% csrf_token %}
                        <h3>Farm</h3>
                        <p>(earns 10-20 gold)</p>
                        <input type="hidden" value="farm" name="place">
                        <button class="btn btn-primary" type="submit">Find Gold!</button>
                  </form>
                  <form action="/process_money" method="post">
                        {% csrf_token %}
                        <h3>Cave</h3>
                        <p>(earns 5-10 gold)</p>
                        <input type="hidden" value="cave" name="place">
                        <button class="btn btn-primary" type="submit">Find Gold!</button>
                  </form>
                  <form action="/process_money" method="post">
                        {% csrf_token %}
                        <h3>House</h3>
                        <p>(earns 2-5 gold)</p>
                        <input type="hidden" value="house" name="place">
                        <button class="btn btn-primary" type="submit">Find Gold!</button>
                  </form>
                  <form action="/process_money" method="post">
                        {% csrf_token %}
                        <h3>Casino</h3>
                        <p>(earns/takes 0-50 gold)</p>
                        <input type="hidden" value="casino" name="place">
                        <button class="btn btn-primary" type="submit">Find Gold!</button>
                  </form>
            </div>

            <div class="activities">
                  {% for i in request.session.activity %}
                        <p class="{% if i.earned %}green {% endif %} {% if not i.earned %} red {% endif%}">
                              {{i.text}}
                        </p>
                  {% endfor %}  
            </div>
      </div>

</body>
</html>